@attribute [Authorize]
@page "/AllCaptain/CaptainOrOrg"
@using Swimming.Data
@inject Swimming.IService.IParticipantSevice  ParticipantSevice
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using System.Text.Json
@using System.Text.Json.Serialization
<div class="titleicon">
    <span class="oi oi-person" aria-hidden="true"></span>
    <h1> الكباتن/الهيئات</h1>
</div>
<AuthorizeView Context="AuthorizeContext">
    <Authorized>
        @*// <RadzenButton Text="Add" Icon="add" Click="@(args => InsrtRow())" id="bnt-style-general" />*@

        <br />
        <RadzenButton Icon="add_circle_outline" style="margin-bottom:10px; margin-left:1350px;" Text="اضافة" Click="@InsrtRow" />
        <RadzenCard>
            @if (CaptainOrOrganizationList == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                foreach (var item in CaptainOrOrganizationList)
                {
                    <RadzenGrid @ref="CaptainOrOrganizationGrid" AllowFiltering="true"
                                AllowPaging="true" PageSize="10"
                                AllowSorting="true" EditMode="DataGridEditMode.Multiple"
                                Data="@item" TItem="CaptainOrOrganization">
                        <Columns>
                            <RadzenGridColumn TItem="CaptainOrOrganization" Property="CaptainOrOrganizName" Title="الاسم" />
                            <RadzenGridColumn TItem="CaptainOrOrganization" Property="Mobile" Title="الموبايل" />
                            <RadzenGridColumn TItem="CaptainOrOrganization" Property="CityName" Title="المحافظة" />
                            <RadzenGridColumn TItem="CaptainOrOrganization" Property="al:web:url" Title="تعديل" Filterable="false">
                                <Template Context="CaptainOrOrganization">
                                    <RadzenButton Text="تعديل" Icon="edit" Click="@(args => Edit(CaptainOrOrganization))" id="bnt-style-general" />
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="CaptainOrOrganization" Property="al:web:url" Title="مسح" Filterable="false">
                                <Template Context="CaptainOrOrganization">
                                    <RadzenButton Text="مسح" Icon="delete" Click="@(args => Delete(CaptainOrOrganization))" id="bnt-style-general" />
                                </Template>
                            </RadzenGridColumn>
                        </Columns>
                    </RadzenGrid>
                }


            }
        </RadzenCard>

    </Authorized>
</AuthorizeView>


@code {
    RadzenGrid<CaptainOrOrganization> CaptainOrOrganizationGrid;
    [Parameter]
    public string viewType { get; set; }
    List<List<CaptainOrOrganization>> CaptainOrOrganizationList = new List<List<CaptainOrOrganization>>();
    CaptainOrOrganization CaptainOrOrganizations = new CaptainOrOrganization();
    protected override async Task OnInitializedAsync()
    {

        CaptainOrOrganizationList.Add(await Task.Run(() => ParticipantSevice.GetCaptainOrOrg()));
    }
    void EditRow(CaptainOrOrganization EditCaptainOrOrganization)
    {
        CaptainOrOrganizationGrid.EditRow(EditCaptainOrOrganization);
    }
    protected void Edit(CaptainOrOrganization UpdateCaptainOrOrganization)
    {

        NavigationManager.NavigateTo("AllCaptain/Edit/" + UpdateCaptainOrOrganization.Id);
    }
    async Task Delete(CaptainOrOrganization DeleteCaptainOrOrganization)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "هل تريد مسح الكباتن/الهيئات ؟ ");
        if (confirmed)
        {
            //DeleteCaptainOrOrganization.DeleteDate = DateTime.Now;
            //ParticipantSevice.UpdateCaptainOrOrg(DeleteCaptainOrOrganization);
            //CaptainOrOrganizationList.Remove(DeleteCaptainOrOrganization);
            //CaptainOrOrganizationGrid.Reload();
        }
    }
    protected void InsrtRow()
    {

        NavigationManager.NavigateTo("AllCaptain/Add/");
    }

}
